@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1650114455735') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
  content: "\f0178";
}

.icon-sousuo:before {
  content: "\e650";
}

.icon-css:before {
  content: "\e63b";
}

.icon-sousuo1:before {
  content: "\e647";
}

.icon-youxi:before {
  content: "\e62f";
}

.icon-yanliaopan:before {
  content: "\e730";
}

.icon-jishufuwu:before {
  content: "\ebce";
}

.icon-huaban:before {
  content: "\e635";
}

.icon-sousuo2:before {
  content: "\eafe";
}

.icon-jiantou_xiangzuo_o:before {
  content: "\eb92";
}

.icon-jiantou_xiangyou_o:before {
  content: "\eb94";
}

.icon-js:before {
  content: "\ec68";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-arrow-up:before {
  content: "\e745";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-database:before {
  content: "\e940";
}

.icon-bijijilu:before {
  content: "\e6f3";
}

.icon-faxian:before {
  content: "\e640";
}

.icon-lianjie:before {
  content: "\e641";
}

.icon-dianzan:before {
  content: "\e63f";
}

.icon-mima:before {
  content: "\e642";
}

.icon-dingwei:before {
  content: "\e643";
}

.icon-dingshi:before {
  content: "\e644";
}

.icon-rili:before {
  content: "\e645";
}

.icon-shouye:before {
  content: "\e646";
}

.icon-sousuo3:before {
  content: "\e648";
}

.icon-shezhi:before {
  content: "\e649";
}

.icon-xiaoxi:before {
  content: "\e64a";
}

.icon-xihuan:before {
  content: "\e64b";
}

